.project-list {
  padding: 15px;
  border: 1px solid #ffffff4b;
  border-right: 0px;
}
.project-list:first-child {
  border-left: 0px;
}

.project-list .img {
  position: relative;
}

.project-list .project-desc {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  line-height: 45px;
}

.project-list .project-desc p {
  display: inline;
  background: #fff;
  border-radius: 40px;
  padding: 4px 12px;
  color: var(--text-dark);
}

.benefit ul li {
  color: #ffffffa3;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.benefit ul li .benefit-icon {
  background: var(--color-primary);
  border-radius: 100%;
  display: flex;
  padding: 6px 5px;
}

.benefit ul li img {
  width: 14px;
}

/* .benefit ul li::before {
  content: url("./icons/check.svg");
  padding: 4px 5px;
  border-radius: 100%;
  background-color: var(--color-primary);
  margin-right: 10px;
} */

.articles .card .card-body {
  margin-top: 1rem;
}

.articles .card .card-body h4 {
  margin: 10px 0;
}

.articles .card .card-body span {
  font-size: 16px;
  color: #391400a3;
}

.articles .card:not(.card-hero) {
  font-size: 24px !important;
  margin-bottom: 2rem;
}

.articles .card:not(.card-hero) img {
  width: 100%;
}
