:root {
  --dark-background: #28293e;
  --light-background: #fdf0e9;
  --color-primary: #ef6c57;
  --text-accent: #ef6d58;
  --text-dark: #391400;
  --text-light: #fff;
}

html {
  scroll-behavior: smooth;
}

h5 {
  font-size: 16px;
  color: var(--text-accent);
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

[class*="dark"] {
  background-color: var(--dark-background);
  color: var(--text-light);
}

[class*="light"] {
  background-color: var(--light-background);
  color: var(--text-dark);
}

.back-to-top {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.back-to-top a {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border: 1px solid var(--text-accent);
  border-radius: 50%;
  background: var(--color-primary);
  fill: transparent;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back-to-top a:hover {
  opacity: 0.85;
}

section {
  height: 100dvh;
}
